.about {
  position: relative;
  height: calc(100vh - #{$navHeight});
  width: 100vw;
  left: 0;
  top: 100vh;
  background-color: black;

  .shortage {
    position: absolute;
    top: 60vh;
    left: 70vw;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
    padding-right: 0 !important;

    @media (max-width: 860px) {
      top: 50vh;
      left: 90vw;
      width: 30vw;
    }
  }

  .skils {
    position: relative;
    top: 10vh;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    max-width: 20vw;
    transition: transform 0.5s 0.5s, opacity 1s;

    .skils-items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    img {
      height: 5vw;
      opacity: 0.9;
    }

    @media (max-width: 860px) {
      max-width: 30vw;
      img {
        height: 10vw;
        opacity: 0.9;
      }
    }
    // }
  }
}
