.about {
  position: relative;
  height: calc(100vh - #{$navHeight});
  width: 100vw;
  left: 0;
  top: 100vh;
  background-image: url('../img/main1.jpg');
  background-size: cover;

  .shortage {
    position: absolute;
    top: 60vh;
    left: 70vw;
    transform: translateX(100%);
    margin: 10px;
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
  }

  @media(min-width: 860px) {
    .shortage {
      max-width: 40vw;
    }
  }

  .skils {
    position: relative;
    top: 10vh;
    max-width: 80vh;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    max-width: 20vw;
    transition: transform 0.5s 0.5s, opacity 1s;

    .skils-items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;

      img {
        height: 15vh;
        opacity: 0.9;
      }
    }
  }
}