.about {
  position: relative;
  height: calc(100vh - #{$navHeight});
  width: 100vw;
  left: 0;
  top: 100vh;
  background-color: black;

  .shortage {
    position: absolute;
    top: 50vh;
    left: 70vw;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
    padding-right: 0 !important;

    @media (max-width: 972px) {
      top: 60vh;
    }

    @media (max-width: 860px) {
      top: 38vh;
      left: 90vw;
      width: 80vw;
      font-size: 1em;
    }
  }

  .skils {
    position: relative;
    top: 10vh;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    max-width: 20vw;
    transition: transform 0.5s 0.5s, opacity 1s;

    .skils-items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    img {
      height: 7vw;
      max-height: 80px;
      opacity: 0.9;
    }
    @media (min-width: 641px) and (max-width: 860px) {
      top: 30vh;
    }
    @media (max-width: 640px) {
      top: 22vh;
    }

    @media (max-width: 860px) {
      max-width: 60vw;
      font-size: 1em;
      img {
        height: 70px;
        opacity: 0.9;
      }
    }
  }
}
